[Interface]
Address = {{ .Address }}
PrivateKey = {{ .PrivateKey }}
ListenPort = {{ .Port }}
{{- if .PostUp }}
PostUp = {{ .PostUp }}
{{- end }}
{{- if .PostDown }}
PostDown = {{ .PostDown }}
{{- end }}

{{- range $index, $peer := .Peers }}

[Peer]
Endpoint = {{ $peer.Endpoint }}
PublicKey = {{ $peer.PublicKey }}
AllowedIPs = {{ $peer.AllowedIPs }}
{{- end }}